* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

.form {
    border-radius: 15px;
    max-width: 100%;
    width: 405px;
    padding: 30px 40px;
    background-color: rgb(250, 250, 250);
    z-index: 1;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: rgb(68, 68, 68);
}

.form-control input {
    border: 1px solid gray;
    border-radius: 10px;
    display: block;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
}

.form-control.success input {
    border: 2px solid #47E093;
}

.form-control.error input {
    border: 2px solid red;
}

.signin-button, .signup-button {
    width: 100%;
    background-color: #7070ff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

.form p{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(68, 68, 68);
}

.form-control.error .small {
    color: red;
    position: absolute;
}

/* animation style */

.area{
    width: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #8181ff;
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -1;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.form .err-msg{
    color: red;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}